<div class="row container-header">
    <div class="col-md-12">
        <nav class="navbar navbar-expand-md navbar-light p-4">
            <a [routerLink]="" class="navbar-brand"><span id="title-text">{{"barra.Patient" | translate}} <span
            style="color:rgba(89,176,243,1);">{{"barra.Journey" | translate}}</span></span></a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>
            <div id="navbarCollapse" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="nav-item mr-3 ml-3">
                        <a [routerLink]="" class="nav-link"><span id="help-text">{{"barra.Need help?" | translate}}</span></a>
                    </li>
                    <li class="nav-item mr-3">
                        <a [routerLink]="" (click)="goHome()" class="nav-link"><span
                id="home-text">{{"barra.Home" | translate}}</span></a>
                    </li>
                    <li class="nav-item">
                        <a [routerLink]="" (click)="createNewPatient()" class="nav-link"><span
                id="new-text">{{"barra.New patient" | translate}}</span></a>
                    </li>
                </ul>
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"><span
                id="user-text">{{userName}}</span></a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <div class="dropdown-divider"></div>
                            <a [routerLink]="" (click)="logout()" class="dropdown-item">{{"barra.Logout" | translate}}</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>