
  <nav class="navbar navbar-expand-md navbar-light bg-light">
    <a [routerLink]="" class="navbar-brand">Patient Journey</a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div id="navbarCollapse" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li class="nav-item">
                <a [routerLink]="" (click)="goHome()" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
                <a [routerLink]="" class="nav-link">New</a>
            </li>
            <!--
            <li class="nav-item">
                <a [routerLink]="" class="nav-link" data-toggle="modal" data-target="#modalShowMyPatients">My patients</a>
            </li>
            -->
            <!--
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Messages</a>
                <div class="dropdown-menu">
                    <a href="#" class="dropdown-item">Inbox</a>
                    <a href="#" class="dropdown-item">Drafts</a>
                    <a href="#" class="dropdown-item">Sent Items</a>
                    <div class="dropdown-divider"></div>
                    <a href="#"class="dropdown-item">Trash</a>
                </div>
            </li>
            -->
        </ul>
        <ul class="nav navbar-nav ml-auto">
            <li class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">User</a>
                <div class="dropdown-menu dropdown-menu-right">
                    <!--<a href="#" class="dropdown-item">Reports</a>
                    <a href="#" class="dropdown-item">Settings</a>-->
                    <div class="dropdown-divider"></div>
                    <a [routerLink]="" class="dropdown-item">{{userName}}</a>
                    <a [routerLink]="" (click)="logout()" class="dropdown-item">Logout</a>
                    
                </div>
            </li>
        </ul>
    </div>
</nav>

<!-- Modal para mostrar los pacientes que haya atendido este usuario-->
<!--
<div class="modal fade" id="modalShowMyPatients" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">My Patients</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>here will be the table...</p>
  
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  -->