<div class="m-4">
    <ngx-spinner bdColor="rgba(246,249,252,0.8)" size="default" color="#59b0f3" type="square-jelly-box" [fullScreen]="true">
        <p style="color: #59b0f3"> {{mensaje_spiner}} </p>
    </ngx-spinner>
    <div class="row">
        <div class="col-md-10 mb-2">
            <h3>{{"admin-menu.Patients" | translate}} &#40;{{amountPatients}} Registred&#41;</h3>
        </div>
        <div class="col-md-2 mb-2">
            <button class="btn btn-primary" data-toggle="modal" data-target="#modalCreatePatient"> add new</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form [formGroup]="searchPatientForm" class="form-inline" (ngSubmit)="buscarPaciente()">
                <div class="form-group mb-2">
                    <input type="text" class="form-control fa" ngModel id="rutToSearch" formControlName="rutToSearch" required placeholder="&#xf002; {{'inicio.Place_rut_paciente' | translate}}">
                </div>
                <!--
                    <div class="form-group">
                        <label for="nombre">{{"formulario-paciente.Name" | translate}}:</label>
                        <input type="text" class="form-control" id="nombre" formControlName="nombre" required>
                    </div>
                    <div *ngIf="createPatientForm.controls['nombre'].invalid && (createPatientForm.controls['nombre'].dirty || createPatientForm.controls['nombre'].touched)" class="alert alert-danger">
                        <div *ngIf="createPatientForm.controls['nombre'].errors.required">
                            {{"formulario-paciente.First name is required" | translate}}
                        </div>
                    </div>
                -->

                <button type="submit" [disabled]="searchPatientForm.pristine || searchPatientForm.invalid" class="btn btn-secondary mb-2 ml-2">{{"inicio.Search" | translate}}</button>
            </form>
            <div *ngIf="msjBusqueda">
                <p class="text-danger">{{"inicio."+msjBusqueda | translate}}</p>
            </div>

        </div>
    </div>
    <div class="table-responsive mt-2">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th>#</th>
                    <th>{{"formulario-paciente.Name" | translate}}</th>
                    <th>{{"formulario-paciente.Last name" | translate}}</th>
                    <th>{{"formulario-paciente.Rut" | translate}}</th>
                    <th>{{"formulario-paciente.Address" | translate}}</th>
                    <th>{{"formulario-paciente.Birthday" | translate}}</th>
                    <th>{{"formulario-paciente.City" | translate}}</th>
                    <th>{{"admin-menu.Actions" | translate}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let patient of my_patients; let i = index; trackBy: trackItem">
                    <td>{{numberOfPatients[i]}}</td>
                    <td>{{patient["nombre"]}}</td>
                    <td>{{patient["apellidos"]}}</td>
                    <td>{{patient["rut"]}}</td>
                    <td>{{patient["direccion"]}}</td>
                    <td>{{patient["fecha_nacimiento"]}}</td>
                    <td>{{patient["ciudad"]}}</td>

                    <td>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button (click)="deletePatient(i)" class="btn btn-link text-decoration-none btn-lg fa text-danger p-1">&#xf014;</button>
                            <button (click)="prepareModalUpdatePatient(i)" class="btn btn-link text-decoration-none btn-lg fa text-info p-1">&#xf044;</button>
                        </div>
                    </td>

                </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="mostrarPacienteEncontrado; else mostrarPaginacion">
        <button class="btn btn-secondary" (click)="backToShowPatientsList()">Back</button>
    </div>
    <ng-template #mostrarPaginacion>
        <p class="text-center">Page {{skip / 10 + 1}} of {{getNumOfPages()}}</p>
        <button *ngIf="skip > 0" (click)="previousPatients()" type="button" class="btn btn-secondary mr-2">Anterior</button>
        <button *ngIf="skip == 0" (click)="previousPatients()" type="button" class="btn btn-secondary mr-2" disabled>Anterior</button>

        <button *ngIf="skip / 10 + 1 < getNumOfPages()" (click)="nextPatients()" type="button" class="btn btn-secondary">Siguiente</button>
        <button *ngIf="skip / 10 + 1 >= getNumOfPages()" (click)="nextPatients()" type="button" class="btn btn-secondary" disabled>Siguiente</button>
    </ng-template>


</div>

<!--Modal para crear un paciente-->
<div class="modal fade" id="modalCreatePatient" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{"admin-menu.New Patient" | translate}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="createPatientForm" (ngSubmit)="createPatient()">
                    <div class="form-group">
                        <label for="nombre">{{"formulario-paciente.Name" | translate}}:</label>
                        <input type="text" class="form-control" id="nombre" formControlName="nombre" required>
                    </div>
                    <div *ngIf="createPatientForm.controls['nombre'].invalid && (createPatientForm.controls['nombre'].dirty || createPatientForm.controls['nombre'].touched)" class="alert alert-danger">
                        <div *ngIf="createPatientForm.controls['nombre'].errors.required">
                            {{"formulario-paciente.First name is required" | translate}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="apellidos">{{"formulario-paciente.Last name" | translate}}:</label>
                        <input type="text" class="form-control" id="apellidos" formControlName="apellidos" required>
                    </div>
                    <div *ngIf="createPatientForm.controls['apellidos'].invalid && (createPatientForm.controls['apellidos'].dirty || createPatientForm.controls['apellidos'].touched)" class="alert alert-danger">
                        <div *ngIf="createPatientForm.controls['apellidos'].errors.required">
                            {{"formulario-paciente.Last name is required" | translate}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="rut">{{"formulario-paciente.Rut" | translate}}:</label>
                        <input type="text" class="form-control" id="rut" formControlName="rut" required>
                    </div>
                    <div *ngIf="createPatientForm.controls['rut'].invalid && (createPatientForm.controls['rut'].dirty || createPatientForm.controls['rut'].touched)" class="alert alert-danger">
                        <div *ngIf="createPatientForm.controls['rut'].errors.required">
                            {{"formulario-paciente.Rut is required" | translate}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="direccion">{{"formulario-paciente.Address" | translate}}:</label>
                        <input type="text" class="form-control" id="direccion" formControlName="direccion" required>
                    </div>
                    <div *ngIf="createPatientForm.controls['direccion'].invalid && (createPatientForm.controls['direccion'].dirty || createPatientForm.controls['direccion'].touched)" class="alert alert-danger">
                        <div *ngIf="createPatientForm.controls['direccion'].errors.required">
                            {{"formulario-paciente.Address is required" | translate}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="fecha_nacimiento">{{"formulario-paciente.Birthday" | translate}}:</label>
                        <input type="date" class="form-control" id="fecha_nacimiento" formControlName="fecha_nacimiento" required>
                    </div>
                    <div *ngIf="createPatientForm.controls['fecha_nacimiento'].invalid && (createPatientForm.controls['fecha_nacimiento'].dirty || createPatientForm.controls['fecha_nacimiento'].touched)" class="alert alert-danger">
                        <div *ngIf="createPatientForm.controls['fecha_nacimiento'].errors.required">
                            {{"formulario-paciente.Birthday is required" | translate}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="ciudad">{{"formulario-paciente.City" | translate}}:</label>
                        <select class="form-control" id="ciudad" formControlName="ciudad" required>
              <option>Iquique</option>
              <option>Antofagasta</option>
              <option>Copiapó</option>
              <option>Arica</option>
              <option>Coyhaique</option>
              <option>Concepción</option>
              <option>La Serena</option>
              <option>Temuco</option>
              <option>Puerto Montt</option>
              <option>Valdivia</option>
              <option>Punta Arenas</option>
              <option>Talca</option>
              <option>Santiago</option>
              <option>Chillán</option>
              <option>Rancagua</option>
              <option>Valparaíso</option>
            </select>
                    </div>
                    <div *ngIf="createPatientForm.controls['ciudad'].invalid && (createPatientForm.controls['ciudad'].dirty || createPatientForm.controls['ciudad'].touched)" class="alert alert-danger">
                        <div *ngIf="createPatientForm.controls['ciudad'].errors.required">
                            {{"formulario-paciente.City is required" | translate}}
                        </div>
                    </div>

                    <button type="submit" [disabled]="createPatientForm.pristine || createPatientForm.invalid" class="btn btn-primary ">{{"admin-menu.Create" | translate}}</button>
                </form>

                <p *ngIf="show_error_create_patient" class="text-danger mt-2">{{"admin-menu."+error_create_patient | translate}}</p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{"admin-menu.Cancel" | translate}}</button>
            </div>
        </div>
    </div>
</div>
<!--Modal para actualizar un paciente-->
<div class="modal fade" id="modalUpdatePatient" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{"admin-menu.Update Patient" | translate}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="updatePatientForm" (ngSubmit)="updatePatient()">
                    <div class="form-group">
                        <label for="update_nombre">{{"formulario-paciente.Name" | translate}}:</label>
                        <input type="text" class="form-control" id="update_nombre" formControlName="update_nombre" required>
                    </div>
                    <div *ngIf="updatePatientForm.controls['update_nombre'].invalid && (updatePatientForm.controls['update_nombre'].dirty || updatePatientForm.controls['update_nombre'].touched)" class="alert alert-danger">
                        <div *ngIf="updatePatientForm.controls['update_nombre'].errors.required">
                            {{"formulario-paciente.First name is required" | translate}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="update_apellidos">{{"formulario-paciente.Last name" | translate}}:</label>
                        <input type="text" class="form-control" id="update_apellidos" formControlName="update_apellidos" required>
                    </div>
                    <div *ngIf="updatePatientForm.controls['update_apellidos'].invalid && (updatePatientForm.controls['update_apellidos'].dirty || updatePatientForm.controls['update_apellidos'].touched)" class="alert alert-danger">
                        <div *ngIf="updatePatientForm.controls['update_apellidos'].errors.required">
                            {{"formulario-paciente.Last name is required" | translate}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="update_rut">{{"formulario-paciente.Rut" | translate}}:</label>
                        <input type="text" class="form-control" id="update_rut" formControlName="update_rut" required>
                    </div>
                    <div *ngIf="updatePatientForm.controls['update_rut'].invalid && (updatePatientForm.controls['update_rut'].dirty || updatePatientForm.controls['update_rut'].touched)" class="alert alert-danger">
                        <div *ngIf="updatePatientForm.controls['update_rut'].errors.required">
                            {{"formulario-paciente.Rut is required" | translate}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="update_direccion">{{"formulario-paciente.Address" | translate}}:</label>
                        <input type="text" class="form-control" id="update_direccion" formControlName="update_direccion" required>
                    </div>
                    <div *ngIf="updatePatientForm.controls['update_direccion'].invalid && (updatePatientForm.controls['update_direccion'].dirty || updatePatientForm.controls['update_direccion'].touched)" class="alert alert-danger">
                        <div *ngIf="updatePatientForm.controls['update_direccion'].errors.required">
                            {{"formulario-paciente.Address is required" | translate}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="update_fecha_nacimiento">{{"formulario-paciente.Birthday" | translate}}:</label>
                        <input type="date" class="form-control" id="update_fecha_nacimiento" formControlName="update_fecha_nacimiento" required>
                    </div>
                    <div *ngIf="updatePatientForm.controls['update_fecha_nacimiento'].invalid && (updatePatientForm.controls['update_fecha_nacimiento'].dirty || updatePatientForm.controls['update_fecha_nacimiento'].touched)" class="alert alert-danger">
                        <div *ngIf="updatePatientForm.controls['update_fecha_nacimiento'].errors.required">
                            {{"formulario-paciente.Birthday is required" | translate}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="update_ciudad">{{"formulario-paciente.City" | translate}}:</label>
                        <select class="form-control" id="update_ciudad" formControlName="update_ciudad" required>
              <option>Iquique</option>
              <option>Antofagasta</option>
              <option>Copiapó</option>
              <option>Arica</option>
              <option>Coyhaique</option>
              <option>Concepción</option>
              <option>La Serena</option>
              <option>Temuco</option>
              <option>Puerto Montt</option>
              <option>Valdivia</option>
              <option>Punta Arenas</option>
              <option>Talca</option>
              <option>Santiago</option>
              <option>Chillán</option>
              <option>Rancagua</option>
              <option>Valparaíso</option>
            </select>
                    </div>
                    <div *ngIf="updatePatientForm.controls['update_ciudad'].invalid && (updatePatientForm.controls['update_ciudad'].dirty || updatePatientForm.controls['update_ciudad'].touched)" class="alert alert-danger">
                        <div *ngIf="updatePatientForm.controls['update_ciudad'].errors.required">
                            {{"formulario-paciente.City is required" | translate}}
                        </div>
                    </div>

                    <button type="submit" [disabled]="updatePatientForm.pristine || updatePatientForm.invalid" class="btn btn-primary">{{"admin-menu.Update" | translate}}</button>
                </form>

                <p *ngIf="show_error_update_patient" class="text-danger mt-2">{{"admin-menu."+error_update_patient | translate}}</p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{{"admin-menu.Cancel" | translate}}</button>
            </div>
        </div>
    </div>
</div>