#rut-label {
    font-family: Raleway;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    color: rgba(72, 72, 75, 1);
}

.fontAwesome {
    font-family: 'Helvetica', FontAwesome, sans-serif;
}

#btn-newpatient {
    color: white;
    background-color: rgba(122, 210, 116, 1);
}

#text-newpatient {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: rgba(72, 72, 75, 1);
}

.lightblue-button {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    background-color: #59b0f3;
    color: white;
    border-radius: 7px;
}

.search-and-attended-container {
    position: relative;
    height: 85vh;
}

.center-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

td {
    cursor: pointer;
}


/*tbody {
    background-color: #f6f9fc;
    ;
}*/

.table {
    border-collapse: separate;
    border-spacing: 0 10px;
}

.container-mytable {
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
}

.td-left-radius {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: #f6f9fc;
}

.td-right-radius {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #f6f9fc;
}

.horizontal-center {
    margin-left: auto;
    margin-right: auto;
}

.attended-and-found-text {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    color: rgba(72, 72, 75, 1);
}

#attended-table {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    color: rgba(72, 72, 75, 1);
}

.lightblue-text {
    font-family: Lato;
    font-style: normal;
    font-size: 18px;
    color: rgba(89, 176, 243, 1);
    ;
}

.error-text {
    font-family: Lato;
    font-style: normal;
    font-size: 18px;
    color: #F32013;
}

.bg-darkgray {
    background-color: #e8edf2;
}