<app-header [userName]="usuario_logeado"></app-header>

<div id="buscador" class="text-center">
    <form #paciente="ngForm" (ngSubmit)="buscarPaciente(paciente)" class="form-search">
        <div class="form-group">
        <label for="formRut">Rut</label>
        <input type="text" class="form-control" ngModel name="rut" id="formRut" placeholder="Escribir rut del paciente...">
        </div>
        <div *ngIf="mostrar_error">
            <p class="text-danger">{{mensaje_respuesta}}</p>
        </div>
        <button type="submit" class="btn btn-primary">Search</button>

    </form>
    
</div>
<div *ngIf="mostrar_paciente" class="text-center">
    <h5>Patient found</h5>
    <p>Rut: {{rut}} <br> Name: {{nombre}} {{apellidos}} </p>
    <button type="button" (click)="goToHistory()" class="btn btn-primary">Go to medical history</button>
    
</div>
<div class="text-center">
    <p>or</p>
    <button type="button" (click)="createNewPatient()" class="btn btn-primary">Create a new patient</button>
</div>
  
