<app-header [userName]="usuario_logeado"></app-header>
<div class="row">
    <div class="col-md-6">
        <div class="form-search mt-3">
            <h3 class="text-center text-primary">Search Patient</h3>
            <div id="buscador">
                <form #paciente="ngForm" (ngSubmit)="buscarPaciente(paciente)">
                    <div class="form-group">
                    <label for="formRut">Rut</label>
                    <input type="text" class="form-control" ngModel name="rut" id="formRut" placeholder="Escribir rut del paciente...">
                    </div>
                    <div *ngIf="mostrar_error">
                        <p class="text-danger">{{mensaje_respuesta}}</p>
                    </div>
                    <button type="submit" class="btn btn-primary">Search</button>

                </form>
                
            </div>
            <p class="mt-1 mb-1">or</p>
            <div>
                
                <button type="button" (click)="createNewPatient()" class="btn btn-primary">Create a new patient</button>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="mt-4">
            <div *ngIf="mostrar_paciente">
                <h5 class="text-secondary">Patient found</h5>
                <p>Rut: {{rut}} <br> Name: {{nombre}} {{apellidos}} </p>
                <button type="button" (click)="goToHistory()" class="btn btn-primary">Go to medical history</button>
            </div>
        

            <div class="list-group w-75 mt-2">
                <h5 class="text-secondary">Recently attended</h5>
                <a [routerLink]="" *ngFor="let paciente of pacientes_atendidos" (click)="seleccionarDesdeLista(paciente)" class="list-group-item list-group-item-action">{{paciente["nombre"]}} {{paciente["apellidos"]}}</a>
                <p *ngIf="pacientes_atendidos.length == 0" class="text-info"> No patient attended</p>
            </div>
        </div>
    </div>
</div>
  
