<div class="m-4">
    <div class="row">
        <div class="col-md-10">
            <h3>Healthcare Professionals</h3>
        </div>
        <div class="col-md-2">
            <button class="btn btn-primary" data-toggle="modal" data-target="#modalCreateUser"> add new</button>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th scope="col">Username</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Profession</th>
                    <th scope="col">health clinic</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let profesionalSalud of myUsers; let i = index; trackBy: trackItem">
                    <td>{{profesionalSalud["user"]["username"]}}</td>
                    <td>{{profesionalSalud["user"]["first_name"]}}</td>
                    <td>{{profesionalSalud["user"]["last_name"]}}</td>
                    <td>{{profesionalSalud["profesion"]}}</td>
                    <td>{{profesionalSalud["centro_salud"]}}</td>

                    <td>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button (click)="deleteUser(i)" class="btn btn-link text-decoration-none btn-lg fa text-danger p-1">&#xf014;</button>
                            <button (click)="prepareModalUpdateUser(i)" class="btn btn-link text-decoration-none btn-lg fa text-info p-1">&#xf044;</button>
                        </div>
                    </td>

                </tr>
            </tbody>
        </table>
    </div>
</div>

<!--Modal para crear un nuevo usuario-->
<div class="modal fade" id="modalCreateUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New User </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="crearteUserForm" (ngSubmit)="createUser()">
                    <div class="form-group">
                        <label for="username">Email:</label>
                        <input type="email" class="form-control" id="username" formControlName="username" required email>
                    </div>
                    <div *ngIf="crearteUserForm.controls['username'].invalid && (crearteUserForm.controls['username'].dirty || crearteUserForm.controls['username'].touched)" class="alert alert-danger">
                        <div *ngIf="crearteUserForm.controls['username'].errors.required">
                            Email is required.
                        </div>
                        <div *ngIf="crearteUserForm.controls['username'].errors.email">
                            Please enter a valid email.
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" class="form-control" id="password" formControlName="password" required>
                    </div>
                    <div *ngIf="crearteUserForm.controls['password'].invalid && (crearteUserForm.controls['password'].dirty || crearteUserForm.controls['password'].touched)" class="alert alert-danger">
                        <div *ngIf="crearteUserForm.controls['password'].errors.required">
                            password is required.
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="repeat_password">Repeat Password:</label>
                        <input type="password" class="form-control" id="repeat_password" formControlName="repeat_password" required>
                    </div>
                    <div *ngIf="crearteUserForm.controls['repeat_password'].invalid && (crearteUserForm.controls['repeat_password'].dirty || crearteUserForm.controls['repeat_password'].touched)" class="alert alert-danger">
                        <div *ngIf="crearteUserForm.controls['repeat_password'].errors.required">
                            Repeat Password is required.
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="first_name">First name:</label>
                        <input type="text" class="form-control" id="first_name" formControlName="first_name" required>
                    </div>
                    <div *ngIf="crearteUserForm.controls['first_name'].invalid && (crearteUserForm.controls['first_name'].dirty || crearteUserForm.controls['first_name'].touched)" class="alert alert-danger">
                        <div *ngIf="crearteUserForm.controls['first_name'].errors.required">
                            First name is required.
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="last_name">Last name:</label>
                        <input type="text" class="form-control" id="last_name" formControlName="last_name" required>
                    </div>
                    <div *ngIf="crearteUserForm.controls['last_name'].invalid && (crearteUserForm.controls['last_name'].dirty || crearteUserForm.controls['last_name'].touched)" class="alert alert-danger">
                        <div *ngIf="crearteUserForm.controls['last_name'].errors.required">
                            Last name is required.
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="profesion">Profession:</label>
                        <input type="text" class="form-control" id="profesion" formControlName="profesion" required>
                    </div>
                    <div *ngIf="crearteUserForm.controls['profesion'].invalid && (crearteUserForm.controls['profesion'].dirty || crearteUserForm.controls['profesion'].touched)" class="alert alert-danger">
                        <div *ngIf="crearteUserForm.controls['profesion'].errors.required">
                            Profession is required.
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="centro_salud">Clinic:</label>
                        <input type="text" class="form-control" id="centro_salud" formControlName="centro_salud" required>
                    </div>
                    <div *ngIf="crearteUserForm.controls['centro_salud'].invalid && (crearteUserForm.controls['centro_salud'].dirty || crearteUserForm.controls['centro_salud'].touched)" class="alert alert-danger">
                        <div *ngIf="crearteUserForm.controls['centro_salud'].errors.required">
                            Clinic is required.
                        </div>
                    </div>

                    <button type="submit" [disabled]="crearteUserForm.pristine || crearteUserForm.invalid" class="btn btn-primary ">Create</button>
                </form>
                <p *ngIf="show_error_create_user" class="text-danger mt-2">{{error_create_user}}</p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!--Modal para editar un usuario-->
<div class="modal fade" id="modalUpdateUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Update User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="updateUserForm" (ngSubmit)="updateUser()">
                    <div class="form-group">
                        <label for="username">Email:</label>
                        <input type="email" class="form-control" id="username" formControlName="username" required email>
                    </div>
                    <div *ngIf="updateUserForm.controls['username'].invalid && (updateUserForm.controls['username'].dirty || updateUserForm.controls['username'].touched)" class="alert alert-danger">
                        <div *ngIf="updateUserForm.controls['username'].errors.required">
                            Email is required.
                        </div>
                        <div *ngIf="updateUserForm.controls['username'].errors.email">
                            Please enter a valid email.
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" class="form-control" id="password" formControlName="password">
                    </div>

                    <div class="form-group">
                        <label for="first_name">First name:</label>
                        <input type="text" class="form-control" id="first_name" formControlName="first_name" required>
                    </div>
                    <div *ngIf="updateUserForm.controls['first_name'].invalid && (updateUserForm.controls['first_name'].dirty || updateUserForm.controls['first_name'].touched)" class="alert alert-danger">
                        <div *ngIf="updateUserForm.controls['first_name'].errors.required">
                            First name is required.
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="last_name">Last name:</label>
                        <input type="text" class="form-control" id="last_name" formControlName="last_name" required>
                    </div>
                    <div *ngIf="updateUserForm.controls['last_name'].invalid && (updateUserForm.controls['last_name'].dirty || updateUserForm.controls['last_name'].touched)" class="alert alert-danger">
                        <div *ngIf="updateUserForm.controls['last_name'].errors.required">
                            Last name is required.
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="profesion">Profession:</label>
                        <input type="text" class="form-control" id="profesion" formControlName="profesion" required>
                    </div>
                    <div *ngIf="updateUserForm.controls['profesion'].invalid && (updateUserForm.controls['profesion'].dirty || updateUserForm.controls['profesion'].touched)" class="alert alert-danger">
                        <div *ngIf="updateUserForm.controls['profesion'].errors.required">
                            Profession is required.
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="centro_salud">Clinic:</label>
                        <input type="text" class="form-control" id="centro_salud" formControlName="centro_salud" required>
                    </div>
                    <div *ngIf="updateUserForm.controls['centro_salud'].invalid && (updateUserForm.controls['centro_salud'].dirty || updateUserForm.controls['centro_salud'].touched)" class="alert alert-danger">
                        <div *ngIf="updateUserForm.controls['centro_salud'].errors.required">
                            Clinic is required.
                        </div>
                    </div>

                    <button type="submit" [disabled]="updateUserForm.pristine || updateUserForm.invalid" class="btn btn-primary ">Update</button>
                </form>
                <p *ngIf="show_error_update_user" class="text-danger mt-2">User already exists</p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!--
<div class="modal fade" id="modalUpdateUser" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Update User </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="updatecrearteUserForm" (ngSubmit)="updateUser()">
                    <div class="form-group">
                        <label for="username">Username (email):</label>
                        <input type="email" class="form-control" id="username" formControlName="username">
                    </div>
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" class="form-control" id="password" formControlName="password">
                    </div>
                    <div class="form-group">
                        <label for="first_name">First name:</label>
                        <input type="text" class="form-control" id="first_name" formControlName="first_name">
                    </div>
                    <div class="form-group">
                        <label for="last_name">Last name:</label>
                        <input type="text" class="form-control" id="last_name" formControlName="last_name">
                    </div>

                    <div class="form-group">
                        <label for="profesion">Profession:</label>
                        <input type="text" class="form-control" id="profesion" formControlName="profesion">
                    </div>
                    <div class="form-group">
                        <label for="centro_salud">Health clinic:</label>
                        <input type="text" class="form-control" id="centro_salud" formControlName="centro_salud">
                    </div>

                    <button type="submit" [disabled]="!updatecrearteUserForm.valid" class="btn btn-primary ">Update</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
-->