
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#menu1">Repositorio OpenEHR</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#menu2">Mis Arquetipos</a>
    </li>
  </ul>
  <!--max-height-->
  <!--class="pre-scrollable" style="height: 50vh"-->
  <div>
  <!-- Tab panes -->
  <div class="tab-content">
    <div id="menu1" class="container tab-pane active"><br>
      <div class="row">
        <div class="col-4">
          <div class="list-group" id="list-tab" role="tablist">
            <a class="list-group-item list-group-item-action active" id="my-cluster" data-toggle="list" href="#cluster" role="tab" aria-controls="home">cluster</a>
            <a class="list-group-item list-group-item-action" id="my-composition" data-toggle="list" href="#composition" role="tab" aria-controls="profile">composition</a>
            <a class="list-group-item list-group-item-action" id="my-action" data-toggle="list" href="#action" role="tab" aria-controls="messages">action</a>
            <a class="list-group-item list-group-item-action" id="my-admin_entry" data-toggle="list" href="#admin_entry" role="tab" aria-controls="settings">admin_entry</a>
            
            <a class="list-group-item list-group-item-action" id="my-evaluation" data-toggle="list" href="#evaluation" role="tab" aria-controls="settings">evaluation</a>
            <a class="list-group-item list-group-item-action" id="my-instruction" data-toggle="list" href="#instruction" role="tab" aria-controls="settings">instruction</a>
            <a class="list-group-item list-group-item-action" id="my-observation" data-toggle="list" href="#observation" role="tab" aria-controls="settings">observation</a>
            <a class="list-group-item list-group-item-action" id="my-section" data-toggle="list" href="#section" role="tab" aria-controls="settings">section</a>

          </div>
        </div>
        <div class="col-8">
          <div class="tab-content overflow-auto" id="nav-tabContent" style="height: 100vh">
            <div class="tab-pane fade show active" id="cluster" role="tabpanel" aria-labelledby="my-cluster">
                <div class="list-group">
                  <a [routerLink]="" *ngFor="let arq of cluster" (click)="seleccionarArquetipo(arq)" class="list-group-item list-group-item-action">{{arq["nombre"]}}</a>
                </div>
            </div>
            <div class="tab-pane fade" id="composition" role="tabpanel" aria-labelledby="my-composition">
              <div class="list-group">
                <a [routerLink]="" *ngFor="let arq of composition" (click)="seleccionarArquetipo(arq)" class="list-group-item list-group-item-action">{{arq["nombre"]}}</a>
              </div>
            </div>
            <div class="tab-pane fade" id="action" role="tabpanel" aria-labelledby="my-action">
              <div class="list-group">
                <a [routerLink]="" *ngFor="let arq of action" (click)="seleccionarArquetipo(arq)" class="list-group-item list-group-item-action">{{arq["nombre"]}}</a>
              </div>
            </div>
            <div class="tab-pane fade" id="admin_entry" role="tabpanel" aria-labelledby="my-admin_entry">
              <div class="list-group">
                <a [routerLink]="" *ngFor="let arq of admin_entry" (click)="seleccionarArquetipo(arq)" class="list-group-item list-group-item-action">{{arq["nombre"]}}</a>
              </div>
            </div>
            <div class="tab-pane fade" id="evaluation" role="tabpanel" aria-labelledby="my-evaluation">

              <div class="list-group">
                <a [routerLink]="" *ngFor="let arq of evaluation" (click)="seleccionarArquetipo(arq)" class="list-group-item list-group-item-action">{{arq["nombre"]}}</a>
              </div>
            </div>
            <div class="tab-pane fade" id="instruction" role="tabpanel" aria-labelledby="my-instruction">
              <div class="list-group">
                <a [routerLink]="" *ngFor="let arq of instruction" (click)="seleccionarArquetipo(arq)" class="list-group-item list-group-item-action">{{arq["nombre"]}}</a>
              </div>
            </div>
            <div class="tab-pane fade" id="observation" role="tabpanel" aria-labelledby="my-observation">
              <div class="list-group">
                <a [routerLink]="" *ngFor="let arq of observation" (click)="seleccionarArquetipo(arq)" class="list-group-item list-group-item-action">{{arq["nombre"]}}</a>
              </div>
            </div>
            <div class="tab-pane fade" id="section" role="tabpanel" aria-labelledby="my-section">
              <div class="list-group">
                <a [routerLink]="" *ngFor="let arq of section" (click)="seleccionarArquetipo(arq)" class="list-group-item list-group-item-action">{{arq["nombre"]}}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="menu2" class="container tab-pane fade"><br>
      <h3>Mi lista de arquetipos</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      <!-- <h3 class="text-center">Arquetipos de la ckm de OpenEHR</h3> -->
      <div class="row">

        <div class="col-4">
          <div class="list-group" id="list-tab" role="tablist">
            
            <a class="list-group-item list-group-item-action active" id="my-enHistorial" data-toggle="list" href="#enHistorial" role="tab" aria-controls="enHistorial">En el historial clinico</a>
            <a class="list-group-item list-group-item-action" id="my-List" data-toggle="list" href="#myList" role="tab" aria-controls="myList">Lista personalizada</a>
          </div>
        </div>
        <div class="col-8">
          <div class="tab-content overflow-auto" id="nav-tabContent" style="height: 100vh">
            <div class="tab-pane fade show active" id="enHistorial" role="tabpanel" aria-labelledby="my-enHistorial">
              <div *ngIf="en_historial_clinico.length == 0" class="text-center">
                <p >Historial clinico sin arquetipos</p>
              </div>
              <div *ngIf="en_historial_clinico.length > 0">
                <div class="list-group">
                  <a [routerLink]="" *ngFor="let arq of en_historial_clinico" (click)="seleccionarArquetipo(arq)" class="list-group-item list-group-item-action">{{arq["nombre"]}}</a>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="myList" role="tabpanel" aria-labelledby="my-List">
              <p class="text-center">En construcción...</p>
            </div>
          </div>
          
        </div>


      </div>
      
    </div>

  </div>
  </div>