<div class="overflow-auto p-3 bg-white mt-3 " style="width: 30rem; height: 100vh;">
    <p id="archetype-list-title">{{"lista-arquetipos.Clinical Models" | translate}}</p>

    <ul class="nav nav-tabs mr-3 text-nav" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#menu1">{{"lista-arquetipos.OpenEHR repository" | translate}}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#menu2">{{"lista-arquetipos.My Archetypes" | translate}}</a>
        </li>
    </ul>

    <div class="tab-content mt-3">
        <div id="menu1" class="container tab-pane active">
            <!--Buscador-->
            <div class="form-group mt-2">
                <input type="text" class="form-control text-center border-input search-text pt-4 pb-4 fa" name="buscarArquetipo" [placeholder]="'&#xf002;'+'  '+placeholder_buscador" [(ngModel)]="buscarArquetipo">
            </div>
            <form>
                <div class="form-group">
                    <select class="form-control text-center select-color select-text border-input" id="filter_name">
            <option class="bg-white font-weight-normal text-dark" *ngFor="let nombre_filtro of nombres_filtros"
              (click)="seleccionarFiltro(nombre_filtro)" [value]="nombre_filtro">
              {{"nombre-filtros."+nombre_filtro | translate}}</option>
          </select>
                </div>
            </form>
            <div class="row">

                <div class="col-4 p-0">
                    <div class="list-group list-group-mine" id="list-tab" role="tablist">
                        <a *ngIf="cluster.length > 0 && (cluster | buscador:buscarArquetipo).length > 0" class="list-group-item list-group-item-action text-center mb-1 border border-input text-break" id="my-cluster" data-toggle="list" href="#cluster" role="tab" aria-controls="home">cluster</a>
                        <a *ngIf="composition.length > 0 && (composition | buscador:buscarArquetipo).length > 0" class="list-group-item list-group-item-action text-center mb-1 border border-input text-break" id="my-composition" data-toggle="list" href="#composition" role="tab"
                            aria-controls="profile">composition</a>
                        <a *ngIf="action.length > 0 && (action | buscador:buscarArquetipo).length > 0" class="list-group-item list-group-item-action text-center mb-1 border border-input text-break" id="my-action" data-toggle="list" href="#action" role="tab" aria-controls="messages">action</a>
                        <a *ngIf="admin_entry.length > 0 && (admin_entry | buscador:buscarArquetipo).length > 0" class="list-group-item list-group-item-action text-center mb-1 border border-input text-break" id="my-admin_entry" data-toggle="list" href="#admin_entry" role="tab"
                            aria-controls="settings">admin_entry</a>

                        <a *ngIf="evaluation.length > 0 && (evaluation | buscador:buscarArquetipo).length > 0" class="list-group-item list-group-item-action text-center mb-1 border border-input text-break" id="my-evaluation" data-toggle="list" href="#evaluation" role="tab" aria-controls="settings">evaluation</a>
                        <a *ngIf="instruction.length > 0 && (instruction | buscador:buscarArquetipo).length > 0" class="list-group-item list-group-item-action text-center mb-1 border border-input text-break" id="my-instruction" data-toggle="list" href="#instruction" role="tab"
                            aria-controls="settings">instruction</a>
                        <a *ngIf="observation.length > 0 && (observation | buscador:buscarArquetipo).length > 0" class="list-group-item list-group-item-action text-center mb-1 border border-input text-break" id="my-observation" data-toggle="list" href="#observation" role="tab"
                            aria-controls="settings">observation</a>
                        <a *ngIf="section.length > 0 && (section | buscador:buscarArquetipo).length > 0" class="list-group-item list-group-item-action text-center border border-input text-break" id="my-section" data-toggle="list" href="#section" role="tab" aria-controls="settings">section</a>

                    </div>
                </div>
                <div class="col-8">

                    <div class="tab-content" id="nav-tabContent">
                        <!--<div class="tab-content overflow-auto" id="nav-tabContent" style="height: 60vh">-->
                        <div *ngIf="cluster.length > 0" class="tab-pane fade" id="cluster" role="tabpanel" aria-labelledby="my-cluster">
                            <div class="list-group">
                                <a [routerLink]="" *ngFor="let arq of cluster | buscador:buscarArquetipo" class="list-group-item list-group-item-action my-list-group shadow">

                                    <div class="row">
                                        <div class="col-10">
                                            {{arq["nombre"]}}
                                        </div>
                                        <div class="col-2">

                                            <div class="btn-group dropup">
                                                <button type="button" class="btn btn-link dropdown-toggle text-decoration-none p-0 fa" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">&#xf141;</button>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                    <a class="dropdown-item" (click)="verArquetipo(arq)" [routerLink]="">Ver</a>
                                                    <a class="dropdown-item" (click)="agregarAlHistorial(arq)" [routerLink]="">Agregar a sesión actual</a>
                                                    <a class="dropdown-item" (click)="seleccionarDesdeMiLista(arq)" [routerLink]="">Agregar a mi lista</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </a>
                            </div>
                        </div>
                        <div *ngIf="composition.length > 0" class="tab-pane fade" id="composition" role="tabpanel" aria-labelledby="my-composition">
                            <div class="list-group">
                                <a [routerLink]="" *ngFor="let arq of composition | buscador:buscarArquetipo" class="list-group-item list-group-item-action my-list-group shadow">
                                    <div class="row">
                                        <div class="col-10">
                                            {{arq["nombre"]}}
                                        </div>
                                        <div class="col-2">

                                            <div class="btn-group dropup">
                                                <button type="button" class="btn btn-link dropdown-toggle text-decoration-none p-0 fa" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">&#xf141;</button>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                    <a class="dropdown-item" (click)="verArquetipo(arq)" [routerLink]="">Ver</a>
                                                    <a class="dropdown-item" (click)="agregarAlHistorial(arq)" [routerLink]="">Agregar a sesión actual</a>
                                                    <a class="dropdown-item" (click)="seleccionarDesdeMiLista(arq)" [routerLink]="">Agregar a mi lista</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div *ngIf="action.length > 0" class="tab-pane fade" id="action" role="tabpanel" aria-labelledby="my-action">
                            <div class="list-group">
                                <a [routerLink]="" *ngFor="let arq of action | buscador:buscarArquetipo" class="list-group-item list-group-item-action my-list-group shadow">
                                    <div class="row">
                                        <div class="col-10">
                                            {{arq["nombre"]}}
                                        </div>
                                        <div class="col-2">

                                            <div class="btn-group dropup">
                                                <button type="button" class="btn btn-link dropdown-toggle text-decoration-none p-0 fa" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">&#xf141;</button>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                    <a class="dropdown-item" (click)="verArquetipo(arq)" [routerLink]="">Ver</a>
                                                    <a class="dropdown-item" (click)="agregarAlHistorial(arq)" [routerLink]="">Agregar a sesión actual</a>
                                                    <a class="dropdown-item" (click)="seleccionarDesdeMiLista(arq)" [routerLink]="">Agregar a mi lista</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div *ngIf="admin_entry.length > 0" class="tab-pane fade" id="admin_entry" role="tabpanel" aria-labelledby="my-admin_entry">
                            <div class="list-group">
                                <a [routerLink]="" *ngFor="let arq of admin_entry | buscador:buscarArquetipo" class="list-group-item list-group-item-action my-list-group shadow">
                                    <div class="row">
                                        <div class="col-10">
                                            {{arq["nombre"]}}
                                        </div>
                                        <div class="col-2">

                                            <div class="btn-group dropup">
                                                <button type="button" class="btn btn-link dropdown-toggle text-decoration-none p-0 fa" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">&#xf141;</button>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                    <a class="dropdown-item" (click)="verArquetipo(arq)" [routerLink]="">Ver</a>
                                                    <a class="dropdown-item" (click)="agregarAlHistorial(arq)" [routerLink]="">Agregar a sesión actual</a>
                                                    <a class="dropdown-item" (click)="seleccionarDesdeMiLista(arq)" [routerLink]="">Agregar a mi lista</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div *ngIf="evaluation.length > 0" class="tab-pane fade" id="evaluation" role="tabpanel" aria-labelledby="my-evaluation">

                            <div class="list-group">
                                <a [routerLink]="" *ngFor="let arq of evaluation | buscador:buscarArquetipo" class="list-group-item list-group-item-action my-list-group shadow">
                                    <div class="row">
                                        <div class="col-10">
                                            {{arq["nombre"]}}
                                        </div>
                                        <div class="col-2">

                                            <div class="btn-group dropup">
                                                <button type="button" class="btn btn-link dropdown-toggle text-decoration-none p-0 fa" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">&#xf141;</button>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                    <a class="dropdown-item" (click)="verArquetipo(arq)" [routerLink]="">Ver</a>
                                                    <a class="dropdown-item" (click)="agregarAlHistorial(arq)" [routerLink]="">Agregar a sesión actual</a>
                                                    <a class="dropdown-item" (click)="seleccionarDesdeMiLista(arq)" [routerLink]="">Agregar a mi lista</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div *ngIf="instruction.length > 0" class="tab-pane fade" id="instruction" role="tabpanel" aria-labelledby="my-instruction">
                            <div class="list-group">
                                <a [routerLink]="" *ngFor="let arq of instruction | buscador:buscarArquetipo" class="list-group-item list-group-item-action my-list-group shadow">
                                    <div class="row">
                                        <div class="col-10">
                                            {{arq["nombre"]}}
                                        </div>
                                        <div class="col-2">

                                            <div class="btn-group dropup">
                                                <button type="button" class="btn btn-link dropdown-toggle text-decoration-none p-0 fa" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">&#xf141;</button>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                    <a class="dropdown-item" (click)="verArquetipo(arq)" [routerLink]="">Ver</a>
                                                    <a class="dropdown-item" (click)="agregarAlHistorial(arq)" [routerLink]="">Agregar a sesión actual</a>
                                                    <a class="dropdown-item" (click)="seleccionarDesdeMiLista(arq)" [routerLink]="">Agregar a mi lista</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div *ngIf="observation.length > 0" class="tab-pane fade" id="observation" role="tabpanel" aria-labelledby="my-observation">
                            <div class="list-group">
                                <a [routerLink]="" *ngFor="let arq of observation | buscador:buscarArquetipo" class="list-group-item list-group-item-action my-list-group shadow">
                                    <div class="row">
                                        <div class="col-10">
                                            {{arq["nombre"]}}
                                        </div>
                                        <div class="col-2">

                                            <div class="btn-group dropup">
                                                <button type="button" class="btn btn-link dropdown-toggle text-decoration-none p-0 fa" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">&#xf141;</button>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                    <a class="dropdown-item" (click)="verArquetipo(arq)" [routerLink]="">Ver</a>
                                                    <a class="dropdown-item" (click)="agregarAlHistorial(arq)" [routerLink]="">Agregar a sesión actual</a>
                                                    <a class="dropdown-item" (click)="seleccionarDesdeMiLista(arq)" [routerLink]="">Agregar a mi lista</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div *ngIf="section.length > 0" class="tab-pane fade" id="section" role="tabpanel" aria-labelledby="my-section">
                            <div class="list-group">
                                <a [routerLink]="" *ngFor="let arq of section | buscador:buscarArquetipo" class="list-group-item list-group-item-action my-list-group shadow">
                                    <div class="row">
                                        <div class="col-10">
                                            {{arq["nombre"]}}
                                        </div>
                                        <div class="col-2">

                                            <div class="btn-group dropup">
                                                <button type="button" class="btn btn-link dropdown-toggle text-decoration-none p-0 fa" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">&#xf141;</button>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                    <a class="dropdown-item" (click)="verArquetipo(arq)" [routerLink]="">Ver</a>
                                                    <a class="dropdown-item" (click)="agregarAlHistorial(arq)" [routerLink]="">Agregar a sesión actual</a>
                                                    <a class="dropdown-item" (click)="seleccionarDesdeMiLista(arq)" [routerLink]="">Agregar a mi lista</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div id="menu2" class="container tab-pane fade">

            <div class="border mb-2" *ngFor="let lista of user_listas_arquetipos; let i = index;">
                <div class="row">
                    <div class="col-9">
                        <button class="btn btn-link text-decoration-none text-basic" type="button" data-toggle="collapse" [attr.data-target]="'#list' + i.toString()" aria-expanded="false" [attr.aria-controls]="'list' + i.toString()">
                            {{lista['nombre_lista']}}
                        </button>
                    </div>
                    <div class="col-3">
                        <div class="text-center">

                            <button type="button" (click)="seleccionarListaToEditar(lista['nombre_lista'])" class="btn btn-link text-decoration-none mt-2 p-0 fa btn-lg">&#xf044;</button>
                            <button type="button" (click)="eliminarLista(lista['nombre_lista'])" class="btn btn-link text-decoration-none mt-2 p-0 fa btn-lg text-secondary">&#xf00d;</button>
                        </div>
                    </div>
                </div>

                <div id="{{'list' + i.toString()}}" class="collapse p-2" data-parent="#menu2">
                    <div class="list-group">
                        <a [routerLink]="" *ngFor="let arq of lista['arquetipos']" class="list-group-item list-group-item-action my-list-group">
                            <div class="row">
                                <div class="col-10 font-weight-bold">
                                    {{arq["nombre"]}}
                                </div>
                                <div class="col-2">
                                    <div class="btn-group dropup">
                                        <button type="button" class="btn btn-link dropdown-toggle text-decoration-none p-0 fa" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">&#xf141;</button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item" (click)="verArquetipo(arq)" [routerLink]="">Ver</a>
                                            <a class="dropdown-item" (click)="agregarAlHistorial(arq)" [routerLink]="">Agregar a sesión actual</a>
                                            <a class="dropdown-item" (click)="seleccionarDesdeMiLista(arq)" [routerLink]="">Agregar a mi lista</a>
                                            <a class="dropdown-item" (click)="quitarDeMilista(lista['nombre_lista'], arq)" [routerLink]="">Quitar de {{lista['nombre_lista']}}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>



        </div>

    </div>

</div>

<!-- Modal para agregar arquetipos a listas-->
<div class="modal fade" id="modalListasPersonalizadas" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5> Save {{arquetipo_de_mylist['nombre']}} in...</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="mb-2" [formGroup]="ListsForm" (ngSubmit)="agregarArquetipoToLista()">
                    <label class="mr-3" formArrayName="lists" *ngFor="let list of userListsFormArray.controls; let i = index">
                        
                        <input type="checkbox" [formControlName]="i"> {{user_listas_arquetipos[i].nombre_lista}}

                        
                    </label>
                    <br>
                    <!--<button *ngIf="ListsForm.valid">submit</button>-->
                    <button *ngIf="ListsForm.valid" type="submit" class="btn btn-primary">Save</button>
                </form>
                <form *ngIf="habilitar_new_list_form" [formGroup]="createNewListForm" (ngSubmit)="crearNuevaLista()">
                    <div class="form-group">
                        <label for="list_name">New list name:</label>
                        <input type="text" class="form-control" id="list_name" formControlName="list_name" required>
                    </div>
                    <div *ngIf="createNewListForm.controls['list_name'].invalid && (createNewListForm.controls['list_name'].dirty || createNewListForm.controls['list_name'].touched)" class="alert alert-danger">
                        <div *ngIf="createNewListForm.controls['list_name'].errors.required">
                            List name is required.
                        </div>
                    </div>
                    <button type="submit" [disabled]="createNewListForm.pristine || createNewListForm.invalid" class="btn btn-secondary ">Create</button>
                </form>
                <button *ngIf="!habilitar_new_list_form" type="button" (click)="habilitarNewListForm()" class="btn btn-link text-decoration-none text-secondary mb-2 p-0 fa"> <span class="mr-2">&#xf067; </span>Create New List</button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary text-white text-basic border-input" data-dismiss="modal"><b>{{"ficha-paciente.Cancel" | translate}}</b></button>
            </div>
        </div>
    </div>
</div>

<!-- Modal editar nombre de lista personalizada-->
<div class="modal fade" id="modalEditListName" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5> Edit list name</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="editListForm" (ngSubmit)="editarNombreLista()">
                    <div class="form-group">
                        <label for="list_name">List name:</label>
                        <input type="text" class="form-control" id="list_name" formControlName="list_name" required>
                    </div>
                    <div *ngIf="editListForm.controls['list_name'].invalid && (editListForm.controls['list_name'].dirty || editListForm.controls['list_name'].touched)" class="alert alert-danger">
                        <div *ngIf="editListForm.controls['list_name'].errors.required">
                            List name is required.
                        </div>
                    </div>
                    <button type="submit" [disabled]="editListForm.pristine || editListForm.invalid" class="btn btn-secondary ">Edit</button>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary text-white text-basic border-input" data-dismiss="modal"><b>{{"ficha-paciente.Cancel" | translate}}</b></button>
            </div>
        </div>
    </div>
</div>