.extra-style{
    border-radius: 25px;
    /*width: 85%;*/
}
.horizontal-center{
    margin-left: auto;
    margin-right: auto;
  }
#text-patient-information{
    text-align: center;
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 26px;
	color: rgba(72,72,75,1);
}
#text-name-patient{
    font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	color: rgba(72,72,75,1);
}
.text-basic-patient-data{
    font-family: Lato;
	font-style: normal;
	/*font-weight: bold;*/
    font-size: 16px;
    color: rgba(72,72,75,1);
	/*color: rgba(72,72,75,1);*/
}
.text-basic-patient-data-blod{
    font-weight: bold;
}