.extra-style{
    border-radius: 25px;
    /*width: 85%;*/
}
.horizontal-center{
    margin-left: auto;
    margin-right: auto;
  }
.text-title-ficha-paciente{
    text-align: center;
	font-family: Raleway;
	font-style: normal;
	font-weight: bold;
	font-size: 26px;
	color: rgba(72,72,75,1);
}
#text-name-patient{
    font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	color: rgba(72,72,75,1);
}
.text-basic{
    font-family: Lato;
	font-style: normal;
	/*font-weight: bold;*/
    font-size: 16px;
    color: rgba(72,72,75,1);
	/*color: rgba(72,72,75,1);*/
}
.text-basic-blod{
    font-weight: bold;
}
.sesion-border{
    border-radius: 12px;
}
.border-input{
    border-radius: 7px;
}
.text-btn-open-sesion{
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	/*color: rgba(89,176,243,1);*/
	color: #59b0f3;
}

.title-patient{
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 21px;
	color: rgba(72,72,75,1);
}

.btn-new-sesion{
	color: white;
	background-color: #59b0f3;
  }

.text-new-sesion{
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 14px;
	color: rgba(72,72,75,1);
}
.btn-new-patient-and-addhistory{
	font-family: Lato;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	color: rgba(255,255,255,1);
	background-color: #59b0f3;
}

.sub-title-size{
	font-size: 22px;
}